.appContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: calc(100% + 100px);
  /* estilizaçao pra deixar os filmes centralizados */
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
  background: linear-gradient(to right, #750c0c, #fcacac);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  padding-top: 50px;
  
}

.homeTitle h1 {
  font-family:Lobster;
  font-size: 40px;
  padding-top: 50px;
  display: flex;
  text-align: left;
}

.searchInput {
  width: 400px;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #b4b4b4;
  transition: background-color 0.3s ease;
  margin-bottom: 60px;

}

.movies {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movieContainer {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1.5fr));
  align-items: center;
  gap: 50px;
  padding: 0 2rem;

}
.movieContainer h3, h4 {
  
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 18px;
  opacity: 80%;
  color: #fff;

}
.movieContainer p{

  margin-bottom: 8px;
  font-weight: bold;
  font-size: 12px;
  opacity: 80%;


}

.movieTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
  font-size: 20px;
}

.starIcon {
  width: 16px;
  height: 16px;
}

.movieDate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movieImg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 180px;
}

.detailsbtn {
  font-family: "Inconsolata", monospace;
  background-color: rgb(153, 153, 153);
  color: rgb(34, 32, 32);
  font-weight: 900;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.favbutton button {
  font-family: "Inconsolata", monospace;
  color: rgb(117, 67, 32);
  font-weight: 900;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;

}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: calc(100% - 100px);
  padding: 60px;
  
}


.favoriteList {
  width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1.5fr));
    align-items: center;
    gap: 50px;
    padding: 0 2rem;
}
.result {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 60px;
}