.container {
  height: 100%;
  position: relative;
  align-items: center;
  text-align: center;
  position: fixed;
}

.toggle {


  position: absolute;
  right: -18px;
  top: 50%;
  background: #750c0c;
  width: 36px;
  height: 36px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  padding: 5px;
  border: none;
  color: white;
}


.toggle i {
  color: white;
  font-size: 2em;
  cursor: pointer;
}

.logo{
  padding-top: 20px;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.title {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  background: linear-gradient(to right, #750c0c, #e28383);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 1000;
  margin-top: -30px;
  padding: 30px;
}


.ul li {
padding: 20px 0;
}

.ul{

  list-style: none;
  padding: 0;
}

.ul li{
  padding: 20px 0px;
}

.navbarContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbarContainer li a {
  color: #ffffff;
  font-size: 16px;
}

.ul i{
padding: 8px;
}

.ul li a:hover{
  background-color: #575757;
  border-radius: 4px;
  
}

.navbar img {
  width: 80px;
  height: auto;
}

@media (max-width: 768px) {
  .navList {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
